---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
import contentful from "contentful";

const client = contentful.createClient({
  space: import.meta.env.CONTENTFUL_SPACE_ID || "dummy",
  environment: "master", // defaults to 'master' if not set
  accessToken: import.meta.env.CONTENTFUL_ACCESS_TOKEN || "dummy",
});

const response = (await client.getEntry("4YbeNIPoSrVXEhCUaGs9Yp")) as any;
const coverImage = "https:" + response.fields.coverImage.fields.file.url;
const profileImage = "https:" + response.fields.profileImage.fields.file.url;
const resume = "https:" + response.fields.resume.fields.file.url;
const education = response.fields.education;
const experience = response.fields.experience;
const playlistUrl = response.fields.playlistUrl;
const skills = response.fields.skills;
const projectImages = response.fields.projectImages.map((obj) => {
  return "https:" + obj.fields.file.url;
});
const projects = response.fields.projects.map((obj, index) => {
  return { ...obj, imgSrc: projectImages[index] };
});
const contacts = response.fields.contacts;
---

<Layout contacts={contacts} photo={profileImage}>
  <Hero img={coverImage} resume={resume} />
  <main class="">
    <About
      img={profileImage}
      education={education}
      experience={experience}
      playlistUrl={playlistUrl}
    />
    <Skills skills={skills} />
    <Projects projects={projects} />
    <Contact />
  </main>
</Layout>

<style></style>
