---
import Hobbies from "./Hobbies.astro";
import TimelineCard, { Timestamp } from "./TimelineCard.astro";

interface Props {
  img: string;
  education: Timestamp[];
  experience: Timestamp[];
  others: Timestamp[];
  playlistUrl: string;
}

const { img, education, experience, others, playlistUrl } =
  Astro.props as Props;
---

<section class="container flex justify-center mx-auto py-8 w-full" id="About">
  <div class="px-4 py-8 max-w-4xl">
    <h1 class="text-4xl font-bold max-w-fit">About me</h1>
    <div
      class="flex flex-wrap-reverse justify-between w-full gap-8 space-y-4 md:space-y-0 py-6"
    >
      <div class="mockup-code break-words flex-1">
        <pre data-prefix="$" class="text-success"><code>whoami</code></pre>
        <code>Pham Ba Thang</code>
        <pre
          data-prefix="$"
          class="text-success"><code>cat info.txt</code></pre>
        <code>Hi, I am Pham Ba Thang.</code>
        <code>I study Computer Science at NUS.</code>
        <pre
          data-prefix="$"
          class="text-success"><code>less interest.txt</code></pre>
        <code
          >I'm interested in creating applications that are aesthetically
          pleasing and solve real problems. <br />I have experience in both
          frontend and backend development and I really enjoy playing with new
          technologies.</code
        >
        <pre><code>:q</code></pre>
        <pre
          data-prefix="$"
          class=""><code>Have a nice day!<span class="blinking">_</span></code></pre>
      </div>
      <div class="avatar aspect-auto flex-0 rounded">
        <div class="w-60 max-w-md rounded">
          <img src={img} alt="profile-img" />
        </div>
      </div>
    </div>

    <div role="tablist" class="tabs tabs-lifted">
      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab"
        aria-label="Education"
        checked
      />
      <div
        role="tabpanel"
        class="tab-content bg-base-100 border-base-300 rounded-box p-6"
      >
        <TimelineCard title="Education" timeline={education} />
      </div>

      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab"
        aria-label="Experience"
      />
      <div
        role="tabpanel"
        class="tab-content bg-base-100 border-base-300 rounded-box p-6"
      >
        <TimelineCard title="Experience" timeline={experience} />
      </div>

      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab"
        aria-label="Others"
      />
      <div
        role="tabpanel"
        class="tab-content bg-base-100 border-base-300 rounded-box p-6"
      >
        <TimelineCard title="Others" timeline={others} />
      </div>
    </div>
    <Hobbies playlistUrl={playlistUrl} />
  </div>
</section>

<style>
  .avatar {
    box-shadow: 14px 14px 0 oklch(var(--s), 0), -14px -14px 0 oklch(var(--p), 0);
    transition: all 0.3s ease;
  }
  .avatar:hover {
    box-shadow: 14px 14px 0 oklch(var(--s)), -14px -14px 0 oklch(var(--p));
    transition: all 0.3s ease;
  }
  .blinking {
    animation: 1s blink step-end infinite;
  }

  @keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: oklch(var(--nc));
    }
  }

  code {
    padding-left: 2ch;
    padding-right: 2ch;
    display: block;
  }

  pre code {
    padding-left: 0;
    padding-right: 0;
    display: inline;
  }
</style>
