---
interface Props {
  contacts: {
    name: string;
    link: string;
    icon: string;
  }[];
}
const { contacts } = Astro.props as Props;

const sections = [
  {
    text: "About me",
    id: "#About",
  },
  {
    text: "Skills",
    id: "#Skills",
  },
  {
    text: "My projects",
    id: "#Projects",
  },
  {
    text: "Contact",
    id: "#Contact",
  },
];
---

<footer class="footer footer-center p-8 bg-primary text-primary-content">
  <div class="grid grid-flow-col gap-4">
    {
      sections.map((s) => (
        <a
          href={s.id}
          class="link link-hover hover:text-accent duration-150 underline-offset-4"
        >
          {s.text}
        </a>
      ))
    }
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      {
        contacts.map((c) => (
          <a
            href={c.link}
            target="_blank"
            rel="noreferrer"
            class="hover:text-accent duration-150"
            aria-label={c.name}
          >
            <i class={`ti ti-${c.icon} text-2xl`} />
          </a>
        ))
      }
    </div>
    <div class="flex items-center gap-1">
      <i class="ti ti-map-pin text-2xl"></i>
      <span>Singapore</span>
    </div>
  </div>
  <div class="leading-6">
    <p>Made by Thang Pham</p>
  </div>
</footer>
