---
export interface Timestamp {
  title: String;
  organization: String;
  time: String;
  description: String[];
}
export interface Props {
  title: string;
  timeline: Timestamp[];
}

const {title = "Lorem ipsum dolor",timeline = []} = Astro.props;
---

<div
  class="card flex bg-base-100 w-full max-w-2xl"
>
  <div class="card-body p-2 mt-4">
    <h2 class="card-title text-2xl">{title}</h2>
    <div>
      <ol class="relative border-l border-accent mt-4 mb-4">
          {
              timeline.map((t: Timestamp)  => (
                <li class="mb-8 ml-4">
                <div class="absolute w-3 h-3 bg-accent rounded-full mt-1.5 -left-1.5 border-none"></div>
                <time class="mb-1 text-sm leading-none text-current opacity-60">{t.time}</time>
                <h3 class="text-lg font-medium text-current leading-6">{t.title}</h3>
                <div class="mb-1 text-sm text-current opacity-90 font-normal">{t.organization}</div>
                <ul class=" list-none">
                {t.description.map(desc => (
                  <li class="mb-1 text-base text-current opacity-60 font-normal">{desc}</li>
                ))}
                </ul>
                <!-- <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Learn more <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></a> -->
          </li>))
          }            
          
      </ol>

    </div>
    <!-- <div class="card-actions justify-end">
      <button class="btn btn-primary">Listen</button>
    </div> -->
  </div>
</div>
